<!doctype html>
<html>
    {% include 'partials/head.twig' %}
    <head>
        <link rel="stylesheet" href="css/homepage.css">
    </head>
    <body >
    {% include 'partials/navigation.twig' %}
        <main class="container-fluid mt-4">
            <div class="main">
            <div class="toolbar">
                {% include 'partials/category.twig' %}
            </div>
            <div class = "holder">
            </div>
            
            <section id="book_list">
                <div class="card-deck">
                    {% for product in products %}
                    <a href="detail.php?product_id={{product.product_id}}">
                        <div class="card" style="float:left; width:215px; padding:10px; margin-bottom:10px;">
                            <img class="img-fluid" id="menu-image" style="width:205px; margin: 0 auto;" 
                            src="images/products/{{product.image}}" alt="{{product.name}}">

                            <div class="card-body d-flex flex-column justify-content-between" style="min-height:10em;">
                            <h3 class="card-title font-weight-bold">{{product.name}}</h3>
                            <h4 class="card-subtitle shop-item-price">${{product.price}}</h4>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </section>
        </div>
            
        </main>
    </body>
</html>